*,
*::before,
*::after {
  box-sizing: border-box !important;
}

:root {
  --ff-primary: "Montserrat", sans-serif;
  --ff-secondary: "Lato", sans-serif;

  --fw-reg: 300;
  --fw-bold: 900;

  --clr-light: #edf6e5;
  --clr-dark: #142f43;
  --clr-accent: #fea82f;

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;

  --bs: -0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}

@media (min-width: 800px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.7rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
  }
}

/* General styles */

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--clr-light) !important;
  color: var(--clr-dark) !important;
  margin: 0 !important;
  font-family: var(--ff-primary) !important;
  font-size: var(--fs-body) !important;
  line-height: 1.6 !important;
}

section {
  padding: 2rem !important;
}

img {
  display: block;
  max-width: 100%;
}

strong {
  font-weight: var(--fw-bold) !important;
}

:focus {
  outline: 3px solid var(--clr-accent);
  outline-offset: 3px !important;
}

/* Typography */
h1,
h2,
h3 {
  line-height: 1;
  margin: 0;
}

h1 {
  font-size: var(--fs-h1) !important;
}
h2 {
  font-size: var(--fs-h2) !important;
}
h3 {
  font-size: var(--fs-h3) !important;
}

.section__title {
  margin-bottom: 0.25rem;
}

.section__title--intro {
  font-weight: var(--fw-reg) !important;
}

.section__title--intro strong {
  display: block !important;
}

.section__subtitle {
  margin: 0 !important;
  font-size: var(--fs-h3) !important;
}

.section__subtitle--intro,
.section__subtitle--about {
  background: var(--clr-accent);
  padding: 0.25em !important;
  font-family: var(--ff-secondary) !important;
  margin-bottom: 1em !important;
}

.section__subtitle--work {
  color: var(--clr-accent);
  font-weight: var(--fw-bold) !important;
  margin-bottom: 2em !important;
}

/* header */

header {
  display: flex !important;
  justify-content: space-between !important;
  padding: 1em !important;
}

.logo {
  max-width: 70px !important;
}

.nav-css {
  position: fixed;
  background: var(--clr-dark);
  color: var(--clr-light);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;

  transform: translate(100%);
  transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
}

.nav__list {
  list-style: none;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav__link {
  color: inherit !important;
  font-weight: var(--fw-bold) !important;
  font-size: (--fs-h2) !important;
  text-decoration: none !important;
}

.nav__link:hover {
  color: var(--clr-accent) !important;
}

/* Intro section */
.intro {
  position: relative !important;
  padding: 4rem 3rem 8rem 3rem !important;
}

.intro__img {
  box-shadow: var(--bs);
}

.section__subtitle--intro {
  display: inline-block !important;
}

@media (min-width: 600px) {
  .intro {
    display: grid;
    width: min-content;
    margin: 0 auto;
    grid-column-gap: 1em;
    grid-template-areas:
      "img title"
      "img subtitle";
    grid-template-columns: min-content max-content;
  }

  .intro__img {
    grid-area: img;
    min-width: 250px;
    position: relative;
    z-index: 2;
  }
  .section__subtitle--intro {
    align-self: start;
    grid-column: -1 / 1;
    grid-row: 2;
    text-align: right;
    position: relative;
    left: -1.5em;
    width: calc(100% + 1.5em);
  }
}

/* My Services section */

.my-services {
  background-color: var(--clr-dark);
  color: var(--clr-light);
  text-align: center;
  border-bottom: 5px solid var(--clr-accent);
}

.services {
  margin-bottom: 4em;
}

.service {
  max-width: 500px;
  margin: 0 auto;
}

@media (min-width: 800px) {
  .services {
    display: flex;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }

  .service + .service {
    margin-left: 2em;
  }
}

.about-me {
  background: var(--clr-dark);
  color: var(--clr-light);
}

.about-me__img {
  box-shadow: var(--bs);
}

@media (min-width: 600px) {
  .about-me {
    display: grid;
    grid-template-columns: 1fr 200px;
    grid-template-areas:
      "title img"
      "subtitle img"
      "text img";
    grid-column-gap: 2em;
  }

  .section__title--about {
    grid-area: title;
  }

  .section__subtitle--about {
    grid-column: 1 / -1;
    grid-row: 2;
    position: relative;
    width: calc(100% + 1em);
    padding-left: 1em;
    padding-right: calc(200px + 4em);
  }

  .about-me__img {
    grid-area: img;
    position: relative;
    z-index: 2;
  }
}

/* My Work */

.my-work {
  background-color: var(--clr-dark);
  color: var(--clr-light);
  text-align: center;
}

.portfolio {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.portfolio__item {
  background: var(--clr-dark);
  overflow: hidden;
}

.portfolio__img {
  transition: transform 750ms cubic-bezier(0.5, 0, 0.5, 1), opacity 250ms linear;
}

.portfolio__item:focus {
  position: relative;
  z-index: 2;
}

.portfolio__img:hover,
.portfolio__item:focus .portfolio__img {
  transform: scale(1.1);
  opacity: 0.75;
}

/* Footer */

.footer {
  background: #111;
  color: var(--clr-accent) !important;
  text-align: center !important;
  padding: 2.5em 0;
  font-size: var(--fs-h3) !important;
}

.footer a {
  color: inherit !important;
  text-decoration: none !important;
}

.foot__link:hover,
.social__list-link:hover {
  opacity: 0.8 !important;
}

.foot__link:hover {
  text-decoration: underline !important;
}

.nav-toggle {
  padding: 0.5em !important;
  background: transparent !important;
  border: 0 !important;
  cursor: pointer !important;
  position: absolute !important;
  right: 1em !important;
  top: 1em !important;
  z-index: 1000 !important;
}

.nav-open .nav-css {
  transform: translateX(0) !important;
}

.nav-open .nav-toggle {
  position: fixed !important;
}

.nav-open .hamburger {
  transform: rotate(0.625turn) !important;
}

.nav-open .hamburger::before {
  transform: rotate(90deg) translateX(-6px) !important;
}

.nav-open .hamburger::after {
  opacity: 0 !important;
}

.hamburger {
  display: block !important;
  position: relative !important;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  background: var(--clr-accent);
  width: 2em !important;
  height: 3px !important;
  border-radius: 1em !important;
  transition: transform 250ms ease-in-out !important;
}

.hamburger::before,
.hamburger::after {
  content: "" !important;
  position: absolute !important;
  left: 0 !important;
  right: 0 !important;
}

.hamburger::before {
  top: 6px;
}
.hamburger::after {
  bottom: 6px;
}

.social-list {
  list-style: none !important;
  display: flex;
  justify-content: center !important;
  margin: 2em 0 0 !important;
  padding: 0 !important;
}

.social--list__item {
  margin: 0 0.5em !important;
  font-size: 2rem !important;
}

.social__list-link {
  padding: 0.5em;
}

.copyright {
  font-size: small;
  margin: 2em 0 0;
  color: gray;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #00adb5;
}

/* Underline feature */
.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #00adb5;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.nav-toggle {
  position: fixed !important;
}

.card-port {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 75%;
  margin-bottom: 2em;
}

.card-port:hover {
  box-shadow: var(--bs);
}

.container-port {
  padding: 20px 16px;
}

.project_heading {
  padding-top: 25px;
  color: var(--clr-accent);
  text-align: left;
}

.des {
  text-align: left;
}

.me_link {
  text-decoration: none;
  color: #94b3fd;
}

.me_link:hover {
  text-decoration: underline;
}

.tag {
  color: var(--clr-accent);
}

.card-about {
  width: 30%;
  display: flex;
  flex-direction: column;
  border: 2px #fea82f solid;
  border-radius: 25px;

  box-shadow: var(--bs);
}

.header-about {
  height: 30%;
  color: #fea82f;
  text-align: left;
  margin-left: 1em;
  margin-right: 1em;
}

.container-about {
  padding: 2px 16px;
}


.about-title,
b,
.card-header {
  color: var(--clr-accent);
}

.card-p {
  font-size: 0.8rem;
  line-height: 2.5;
}

.card-css {
  margin: 20px;
  background: var(--clr-dark) !important;
  height: 270px;
  width: 300px;
  padding: 9px;
  box-shadow: var(--bs);
}

.skills {
  font-size: 0.9rem;
}

@media (max-width: 320px) {
  .card-css {
    height: 270px;
    width: 200px;
  }
  .card-p {
    font-size: 0.7rem;
    line-height: 2;
  }

  .social__list-link {
    padding: 0;
  }
  .section__title--intro {
    font-size: 2rem !important;
  }
  
}

.text-black {
  color: #000;
}

.content {
  padding: 7rem 0;
}

.heading {
  font-size: 2.5rem;
  font-weight: 900;
  color: var(--clr-accent);
}

.form-control {
  border: none;
  background: #f3f3f3;
}
.form-control:active,
.form-control:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #000;
  background: #f3f3f3;
}

.col-form-label {
  color: #000;
}

.btn,
.form-control,
.custom-select {
  height: 50px;
}

.custom-select:active,
.custom-select:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #000;
}

.btn {
  border: none;
  border-radius: 25px !important;
  border-color: var(--clr-accent) !important;
  margin-left: 1rem;
}
.btn.btn-primary {
  background: var(--clr-accent);
  color: var(--clr-dark);
  padding: 15px 20px;
}
.btn:hover {
  color: var(--clr-light);
  background-color: var(--clr-dark) !important;
}
.btn:active,
.btn:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.box {
  padding: 40px;
  background: #fff;
  -webkit-box-shadow: -30px 30px 0px 0 rgba(0, 0, 0, 0.08);
  box-shadow: -30px 30px 0px 0 rgba(0, 0, 0, 0.08);
}
.box h3 {
  font-size: 14px;
  margin-bottom: 30px;
  text-align: center;
}

label.error {
  font-size: 12px;
  color: red;
}

#message {
  height: auto;
  resize: none;
  overflow-y: auto;
}

#form-message-warning,
#form-message-success {
  display: none;
}

#form-message-warning {
  color: #b90b0b;
}

#form-message-success {
  color: #55a44e;
  font-size: 18px;
  font-weight: bold;
}

.form-group{
  margin: 1rem;
}

.submitting {
  float: left;
  width: 100%;
  padding: 10px 0;
  display: none;
  font-weight: bold;
  font-size: 12px;
  color: #000;
}


/* CTA buttons */

.cta{
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
}

@media(max-width: 440px){
  .cta{
    display: block;
  }
  .cta-resume, .cta-project{
    margin-top: 2rem;
    margin-left: 3rem !important;
  }
}

/* Project button */

.cta-project{
  margin-right: 2rem;
}

.cta-project,
.cta-project::after {
  padding: 16px 20px;
  font-size: 2rem;
  background: linear-gradient(45deg, transparent 5%, #fea82f 5%);
  border: 0;
  border-radius: 1.7rem;
  color: var(--clr-dark);
  font-weight: 600;
  letter-spacing: 3px;
  line-height: 1;
  box-shadow: 6px 0px 0px #142f43;
  outline: transparent;
  position: relative;
}

.cta-project::after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);
  content: "Projects";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    45deg,
    transparent 3%,
    #142f43 3%,
    #142f43 5%,
    #fea82f 5%
  );
  text-shadow: -3px -3px 0px #ffc801, 3px 3px 0px #142f43;
  clip-path: var(--slice-0);
}

.cta-project:hover::after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }

  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }

  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }

  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }

  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }

  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }

  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }

  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }

  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }

  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }

  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

/* Resume button */

.cta-resume{
  margin-left: 2rem;
  filter: grayscale(1);
}

.cta-resume a{
  text-decoration: none;
  color: var(--clr-dark);
}

.cta-resume a:hover{
  color: var(--clr-dark);
}

.cta-resume,
.cta-resume::after {
  padding: 16px 20px;
  font-size: 2rem;
  background: linear-gradient(45deg, transparent 5%, #fea82f 5%);
  border: 0;
  border-radius: 1.6rem;
  color: var(--clr-dark);
  font-weight: 600;
  letter-spacing: 3px;
  line-height: 1;
  box-shadow: 6px 0px 0px #142f43;
  outline: transparent;
  position: relative;
}

.cta-resume::after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);
  content: "Resume";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    45deg,
    transparent 3%,
    #142f43 3%,
    #142f43 5%,
    #fea82f 5%
  );
  text-shadow: -3px -3px 0px #ffc801, 3px 3px 0px #142f43;
  clip-path: var(--slice-0);
}

.cta-resume:hover::after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }

  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }

  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }

  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }

  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }

  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }

  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }

  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }

  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }

  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }

  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

