*,
*::before,
*::after {
    box-sizing: border-box;
}

:root{
    --ff-primary: 'Montserrat', sans-serif;
    --ff-secondary: 'Lato', sans-serif;

    --fw-reg: 300;
    --fw-bold: 900;

    --clr-light: #EEEEEE;
    --clr-dark: #222831;
    --clr-accent: #00ADB5;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --bs: -.25em 0.25em 0.75em rgba(0,0,0,.25),
        0.125em 0.125em 0.25em rgba(0, 0, 0,.15);
}

@media (min-width: 800px){
    :root{
        --fs-h1: 4.5rem;
        --fs-h2: 3.7rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}


body{
    background-color: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

section{
    padding: 5em 2rem;
}

img{
    display: block;
    max-width: 100%;
}

strong{font-weight: var(--fw-bold);}

:focus{
    outline: 3px solid var(--clr-accent);
    outline-offset: 3px;
}

/* buttons */

.btn {
  background: #00adb5;
  background-image: -webkit-linear-gradient(top, #00adb5, #10c9cf);
  background-image: -moz-linear-gradient(top, #00adb5, #10c9cf);
  background-image: -ms-linear-gradient(top, #00adb5, #10c9cf);
  background-image: -o-linear-gradient(top, #00adb5, #10c9cf);
  background-image: linear-gradient(to bottom, #00adb5, #10c9cf);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  text-transform: uppercase;
  color: #000000;
  font-size: 1rem;
  font-weight: var(--fw-bold);
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #8af0f2;
  background-image: -webkit-linear-gradient(top, #8af0f2, #639294);
  background-image: -moz-linear-gradient(top, #8af0f2, #639294);
  background-image: -ms-linear-gradient(top, #8af0f2, #639294);
  background-image: -o-linear-gradient(top, #8af0f2, #639294);
  background-image: linear-gradient(to bottom, #8af0f2, #639294);
  text-decoration: none;
}

/* Typography */
h1,
h2,
h3{
    line-height: 1;
    margin: 0;
}

h1{
    font-size: var(--fs-h1);
}
h2{
    font-size: var(--fs-h2);
}
h3{
    font-size: var(--fs-h3);
}

.section__title{
    margin-bottom: 0.25rem;
}

.section__title--intro{
    font-weight: var(--fw-reg);
}

.section__title--intro strong{
    display: block;
}

.section__subtitle{
    margin: 0;
    font-size: var(--fs-h3);
}

.section__subtitle--intro,
.section__subtitle--about{
    background: var(--clr-accent);
    padding: .25em;
    font-family: var(--ff-secondary);
    margin-bottom: 1em;
}

.section__subtitle--work{
     color: var(--clr-accent);
     font-weight: var(--fw-bold);
     margin-bottom: 2em;
 }

/* header */

nav{
    display: none;
}

/* Intro section */
.intro{
    position: relative;
}

.intro__img{
    box-shadow: var(--bs);
}

.section__subtitle--intro{
    display: inline-block;
}

@media (min-width: 600px){
    .intro{
        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-column-gap: 1em;
        grid-template-areas: 
            "img title"
            "img subtitle";
        grid-template-columns: min-content max-content;
    }

    .intro__img{
        grid-area: img;
        min-width: 250px;
        position: relative;
        z-index: 2;
    }
    .section__subtitle--intro{
        align-self: start;
        grid-column: -1 / 1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -1.5em;
        width: calc(100% + 1.5em);
    }
}

/* My Services section */

.my-services{
    background-color: var(--clr-dark);
    background-image: url("/images/services-bg.jpg");
    background-size: cover;
    background-blend-mode: multiply;
    color: var(--clr-light);
    text-align: center;
}

.section__title--services{
    color: var(--clr-accent);
    position: relative;
}

.section__title--services::after{
    content: '';
    display: block;
    width: 2em;
    height: 1px;
    margin: 0.5rem auto 1em;
    background: var(--clr-dark);
    opacity: .25;
}

.services{
    margin-bottom: 4em;
}

.service{
    max-width: 500px;
    margin: 0 auto;
}

@media (min-width: 800px){
    .services{
        display: flex;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }

    .service + .service{
        margin-left: 2em;
    }
}

.about-me{
    max-width: 1000px;
    margin: 0 auto;
}

.about-me__img{
    box-shadow: var(--bs);
}

@media (min-width: 600px){
    .about-me{
        display: grid;
        grid-template-columns: 1fr 200px;
        grid-template-areas:
            "title img"
            "subtitle img"
            "text img";
        grid-column-gap: 2em;
    }

    .section__title--about{
        grid-area: title;
    }

    .section__subtitle--about{
        grid-column: 1 / -1;
        grid-row: 2;
        position: relative;
        left: -1em;
        width: calc(100% + 2em);
        padding-left: 1em;
        padding-right: calc(200px + 4em);
    }

    .about-me__img{
        grid-area: img;
        position: relative;
        z-index: 2;
    }
}

 /* My Work */

 .my-work{
     background-color: var(--clr-dark);
     color: var(--clr-light);
     text-align: center;
 }

.portfolio{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    
}

.portfolio__item{
    background: var(--clr-accent);
    overflow: hidden;
}

.portfolio__img{
    transition: 
        transform 750ms cubic-bezier(.5, 0, .5, 1),
        opacity 250ms linear;
}

.portfolio__item:focus{
    position: relative;
    z-index: 2;
}

.portfolio__img:hover,
.portfolio__item:focus .portfolio__img{
    transform: scale(1.2);
    opacity: .75;
}

/* Footer */

.footer{
    background: #111;
    color: var(--clr-accent);
    text-align: center;
    padding: 2.5em 0;
    font-size: var(--fs-h3);

}

.footer a {
    color: inherit;
    text-decoration: none;
}

.foot__link:hover,
.social__list-link:hover{
    opacity: 0.8;
}

.foot__link:hover{
    text-decoration: underline;
}

.social-list{
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2em 0 0;
    padding: 0;
}

.social--list__item{
    margin: 0 .5em;
}

.social__list-link{
    padding: .5em;
}

.copyright{
    font-size: small;
    margin: 2em 0 0;
    color: gray;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: ##00adb5;
}

/* Underline feature */
.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #00adb5;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
